*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa
*.swp
*.native
*.byte
*.pyc
_build
setup.bin
setup.data
setup.log
api.docdir
config.mk
configure
test_hvm_check_pvdriver.native
xenlight/_*
# symlinks
event/eventchn.ml
event/eventchn.mli
event/eventchn_stubs.c
event/activations.ml
